.navbar.navbar-custom-black {
    background-color:#323842FF !important;
    box-shadow: none;
    color: #fff;
    padding-top: 20px !important;
  }
  .custom-section{
    background-color: #323842FF;
  }
  .box{
    height:100% !important;
    width: 300px !important;
    background-color: transparent !important;
  }
  .custom-slider-bg{
    background-color:#323842FF !important;
  }
  .custom-slider-width{
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .custom-container{
    margin-top: 6em;
  }
  .upcoming-box{
    height:100% !important;
    width: 150px !important;
  }
  .upcoming-event-section{
    margin-top: 1em;
  }
  .image-event{
    border-radius: 25px !important;
  }